<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178639741840-ckej2jmbg39oi4r3guur7f1n0bucqf1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178639741840-ckej2jmbg39oi4r3guur7f1n0bucqf1b</string>
	<key>API_KEY</key>
	<string>AIzaSyCIkqyK8GBB95pRafGvP0Xh4KJUoWu5gC0</string>
	<key>GCM_SENDER_ID</key>
	<string>178639741840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseD</string>
	<key>PROJECT_ID</key>
	<string>fir-d-16d93</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-d-16d93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178639741840:ios:4ea74542b8f00437</string>
	<key>DATABASE_URL</key>
	<string>https://fir-d-16d93.firebaseio.com</string>
</dict>
</plist>